#header {
  display: flex;
  border-radius: 20px;
  width: 80%;
  height: 40px;
  margin: 20px auto;
  background-image: url(https://img2.goodfon.com/wallpaper/nbig/0/aa/red-texture-backgrounds-fon.jpg);
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: grid;
  background-image: url(https://cdn.shopify.com/s/files/1/0170/2948/products/Ebony-3n1-72dpi_1024x1024.jpg?v=1402110640);
  margin: 2%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid black;
}

.image-box {
  border: 3px solid black;
  margin: 10px auto 0px auto;
  background-color: rgba(0, 0, 255, 0.016);
  background-repeat: no-repeat;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  width: 80%;
  border-radius: 10px;
}

.submit-button {
  border-radius: 8px;
  background-color: rgba(81, 104, 65, 0.742);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.submit-button:hover , .submit-button:focus{
    box-shadow: 0px .5px 1px .5px black;
    outline: none;
}



.user-input {
  display: flex;
  justify-content: space-around;
  border-bottom: solid 0.3vh gray;
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  border-radius: 4px;
  padding: 8px 8px 8px 8px;
}

#image-input:focus{
    outline: none;
}

#caption-input:focus{
    outline: none;
}

img {
  width: 100%;
  border-radius: 10px;
}

img:hover {
    opacity: 80%;
}

#image-input {
  display: flex;
  width: 220px;
  height: 30px;
  border-radius: 8px;
}

#caption-input {

  display: flex;
  width: 220px;
  height: 30px;
  border-radius: 8px;
}

.album {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

p {
  font-size: larger;
  text-align: center;
  background-color: rgba(81, 104, 65, 0.742);
  color: black;
}

#content {
  background-image: url(https://img2.goodfon.com/wallpaper/nbig/0/aa/red-texture-backgrounds-fon.jpg);
  width: 60%;
  color: whitesmoke;
  margin: auto;
  padding: 2px 2px 2px 2px;
  font-size: 18px;
  border-radius: 20px;
}

@media (min-width: 700px) and (max-width: 1100px) {
  .album {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 699px) {
  .album {
    display: grid;
    grid-template-columns: 100%;
  }
}
